.container {
  border: 1px solid #d5967b;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.button-group {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.animal-button {
  margin-right: 10px;
  background-color: #ff8331;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.search-button {
  background-color: #ff8331;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  max-width: 200px;
  margin-right: 20px;
}

.custom-input {
  border: 1px solid #d5967b;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  margin-right: 20px;
}

@media screen and (min-width: 1000px) and (max-width: 1200) {
  .animal-button,
  .search-button,
  .custom-input {
    width: auto;
  }

  .button-group {
    justify-content: flex-start;
  }
}
